
    <div class="nnnav">
      <div class="nnnavsmalltext"><p>Chef Domo --Private Chef [+] Culinary Artist</p></div>
      <div class="nnnavbigtext">
        <ul class="nnul">
          <a href="/dishes"><li class="msp hovli">DISHES<div class="snap"></div></li></a>
        <a href="/about"><li class="msp hovli">BIO<div class="snap"></div></li></a>
        <a href="/catering"><li class="hovli">CATERING<div class="snap"></div></li></a>
      </ul>
      </div>
    </div>
