<ul class="smalllist">
  <li class="smallitem donerd"><i class="fas fa-star"></i></li>
  <li class="smallitem donerd"><i class="fas fa-star"></i></li>
  <li class="smallitem donerd"><i class="fas fa-star"></i></li>
  <li class="smallitem"><i class="fas fa-star"></i></li>
  <li class="smallitem"><i class="fas fa-star"></i></li>
</ul>
