<div class="wrap">
  <div class="theone dessertone">
  <div class="newnav">
    <a href="/"><div class="newlogo"><%= image_tag("logo.png") %></div></a>
    <ul class="newnavul">
      <li>Home</li>
      <li>Experience</li>
      <li>Services</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <ul class="newsocul">
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="far fa-envelope"></i></li>
    </ul>
  </div>

  </div>
  <div class="midlun desserttwo">
    <div class="desserttwoleft"></div>
    <div class="desserttworight"></div>
  </div>
  <div class="midlun dessertthree">

  </div>
  <div class="midlun dessertfour">
  </div>



  <div class="newfooter exmt">
  <div class="nfpart">
    <p class="italic">Contact</p>
    <p class="italic">chefdturner32@gmail.com</p>
    <p>Washington D.C. </p>
    <p class="grayitalic italic">Contact</p>
  </div>
  <div class="nfpart">
    <div class="nfhone"><h1>— &nbsp;CHEF DOMO &nbsp;—</h1></div>
    <div class="nflogo"><%= image_tag("darklogo.png")%></div>
    <div class="nfsocial">
      <i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-facebook-f"></i>&nbsp;<i class="far fa-envelope"></i>
    </div>
    <p class="notblack">Site by <a href="http://instagram.com/troymedia.digital">TM Digital</a> </p>
  </div>
  <div class="nfpart">
    <p class="italic nobottom">Culinary Artist</p>
  <div class="smline"></div>
  </div>
  </div>
</div>
