<div class="wrap">
  <div class="scan">
    <h1>Dishes</h1>
  </div>
<div class="backhome">
  <div class="nnback">
  <%= render "homepage"%>
  </div>
</div>
<div class="abovehomewrap">
  <div class="dishback">
    <div class="newnav">
      <a href="/"><div class="newlogo"><%= image_tag("darklogo.png") %></div></a>
      <ul class="newnavul tint">
        <li>Home</li>
        <li>Experience</li>
        <li>Services</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      <ul class="newsocul tint">
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="far fa-envelope"></i></li>
      </ul>
    </div>

<div class="dishsectwrap">
    <div class="dishsect lun">
      <div class="dconwrap">
      <h1>Lunch<h1>
      <a href="/lunch">View More</a>
    </div>
    </div>
    <div class="dishsect din">
      <div class="dconwrap">
      <h1>Dinner<h1>
      <a href="/dinner">View More</a>
      </div>
    </div>
    <div class="dishsect des">
      <div class="dconwrap">
      <h1>Desserts<h1>
      <a href="/desserts">View More</a>
      </div>
    </div>
    <div class="dishsect cat">
      <div class="dconwrap">
      <h1>Catering<h1>
      <a href="/catering">View More</a>
      </div>
    </div>
    <div class="colorglow">
      <%= image_tag("giphy.gif") %>
    </div>
  </div>
</div>

<div class="newfooter">
<div class="nfpart">
  <p class="italic">Contact</p>
  <p class="italic">chefdturner32@gmail.com</p>
  <p>Washington D.C. </p>
  <p class="grayitalic italic">Contact</p>
</div>
<div class="nfpart">
  <div class="nfhone"><h1>— &nbsp;CHEF DOMO &nbsp;—</h1></div>
  <div class="nflogo"><%= image_tag("darklogo.png")%></div>
  <div class="nfsocial">
    <i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-facebook-f"></i>&nbsp;<i class="far fa-envelope"></i>
  </div>
  <p class="notblack">Site by <a href="http://instagram.com/troymedia.digital">TM Digital</a> </p>
</div>
<div class="nfpart">
  <p class="italic nobottom">Culinary Artist</p>
<div class="smline"></div>
</div>
</div>
</div>


</div>
