<div class="wrap">
  <div class="scan">
    <h1>About</h1>
  </div>
<div class="backhome">
  <div class="nnback">
  <%= render "homepage"%>
  </div>
</div>
<div class="abovehomewrap">
  <div class="newaboutback">
    <div class="newnav">
      <a href="/"><div class="newlogo"><%= image_tag("darklogo.png") %></div></a>
      <ul class="newnavul tint">
        <a href="/"><li>Home</li></a>
        <a href="/comingsoon"><li>Experience</li></a>
        <a href="/services"><li>Services</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
      <ul class="newsocul tint">
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="far fa-envelope"></i></li>
      </ul>
    </div>




    <div class="newaboutone">
      <div class="naoleft"></div>
      <div class="naoright"></div>
    </div>
    <div class="nsa">
    <a href="/dishes">View More</a>
    </div>

    <div class="newabouttwo">
      <div class="nathold">
        <p>Chef Domo —  Culinary Artist</p> <br>
        <br>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
           <br>
          Et harum quidem rerum facilis est et expedita distinctio. <br>
             <br>
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            <br>
          Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        </p>
      </div>
    </div>


    <div class="newfooter">
    <div class="nfpart">
      <p class="italic">Contact</p>
      <p class="italic">chefdturner32@gmail.com</p>
      <p>Washington D.C. </p>
      <p class="grayitalic italic">Contact</p>
    </div>
    <div class="nfpart">
      <div class="nfhone"><h1>— &nbsp;CHEF DOMO &nbsp;—</h1></div>
      <div class="nflogo"><%= image_tag("darklogo.png")%></div>
      <div class="nfsocial">
        <i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-facebook-f"></i>&nbsp;<i class="far fa-envelope"></i>
      </div>
      <p class="notblack">Site by <a href="http://instagram.com/troymedia.digital">TM Digital</a> </p>
    </div>
    <div class="nfpart">
      <p class="italic nobottom">Culinary Artist</p>
    <div class="smline"></div>
    </div>
    </div>

  </div>



</div>
</div>
