<div class="wrap">
  <div class="scan">
    <h1>Services</h1>
  </div>
<div class="backhome">
  <div class="nnback">
  <%= render "homepage"%>
  </div>
</div>
<div class="abovehomewrap">
  <div class="newserviceback">
    <div class="newnav">
      <a href="/"><div class="newlogo"><%= image_tag("darklogo.png") %></div></a>
      <ul class="newnavul tint">
        <a href="/"><li>Home</li></a>
        <a href="/privatedining"><li>Private Dining</li></a>
        <a href="/services"><li>Services</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
      <ul class="newsocul tint">
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="far fa-envelope"></i></li>
      </ul>
    </div>
    <div class="servicehead"><h1>Services</h1></div>
    <div class="newservicelimit">
    <div class="servicemidone">
      <div class="smoleft">
      <div class="smoimg"></div>
      </div>
      <div class="smoright">
        <div class="servicetitlewrap">
          <h1>PRIVATE DINING</h1>
          <h1>CATERING</h1>
          <h1>MEAL PREP</h1>
          <h1>WEDDINGS</h1>
          <h1>CORPORATE EVENTS</h1>
        </div>
      </div>
    </div>
    <div class="servicemidtwo">
      <div class="smoleft">
        <div class="servicetitlewrap">
          <h1>FORMAL DINNERS</h1>
          <h1>BRIDAL SHOWERS</h1>
          <h1>BRUNCHES</h1>
          <h1>COCKTAIL PARTIES</h1>
        </div>
      </div>
      <div class="smoright">
        <div class="smtimg"></div>
      </div>
    </div>
    <div class="newservicedivi">
    </div>
    <div class="nsa">
    <a href="/contact">Contact Us</a>
    </div>
  </div>

<div class="newfooter">
<div class="nfpart">
  <p class="italic">Contact</p>
  <p class="italic">chefdturner32@gmail.com</p>
  <p>Washington D.C. </p>
  <p class="grayitalic italic">Contact</p>
</div>
<div class="nfpart">
  <div class="nfhone"><h1>— &nbsp;CHEF DOMO &nbsp;—</h1></div>
  <div class="nflogo"><%= image_tag("darklogo.png")%></div>
  <div class="nfsocial">
    <i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-facebook-f"></i>&nbsp;<i class="far fa-envelope"></i>
  </div>
  <p class="notblack">Site by <a href="http://instagram.com/troymedia.digital">TM Digital</a> </p>
</div>
<div class="nfpart">
  <p class="italic nobottom">Culinary Artist</p>
<div class="smline"></div>
</div>
</div>
</div>


</div>
